<div class="container">
    <div class="container-close">
        <button (click)="close()" mat-icon-button>
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>
    <div class="container-content">
        <span class="container-content-title">DADOS INVÁLIDOS!</span>
        <span>Voce preencheu um ou mais campos com um valor acima do permitido:</span>
        <div *ngFor="let x of data; let i = index">
            <span class="container-content-name">{{ x.action }}: </span>
            <span>O valor a resgatar n pode ser maior que {{ formatMoney(x.accumulatedBalance) }}</span>
        </div>
        <button (click)="close()" mat-raised-button color="primary" type="button">Corrigir</button>
    </div>
</div>