.container {
  background-color: #FFFFFF;
  border: 2px solid #C6C9CA;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    i {
      font-size: 24px;
      color: #60696C;
    }

    &-information {
      display: flex;
      flex-direction: column;

      &-title {
        text-transform: uppercase;
        color: #687173;
        font-weight: 400;
      }

      &-text {
        color: #627881;
        font-weight: 500;
      }
    }
  }
}
