<div class="container" *ngIf="customRescue$ | async as investment">
    <div class="container-investment-data">
        <span>DADOS DO INVESTIMENTO</span>
        <div class="container-investment-data-content">
            <app-header-content 
                icon="person"
                title="Nome"
                [content]="investment.nome">
            </app-header-content>
            <app-header-content 
                icon="analytics"
                title="Objetivo"
                [content]="investment.objetivo">
            </app-header-content>
            <app-header-content 
                icon="monetization_on"
                title="Saldo Total"
                [content]="formatMoney(investment.saldoTotal)">
            </app-header-content>
        </div>
    </div>
    
    <div class="container-value-to-redeem">
        <span>RESGATE</span>

        <div class="container-value-to-redeem-table">
            <div class="container-value-to-redeem-table-header">
                <span>Acao</span>
                <span>Saldo Acumulado</span>
                <span>Valor a resgatar</span>
            </div>
            <mat-divider></mat-divider>
            <form id="myForm" [formGroup]="thisIsMyForm">
                <div [formArrayName]="'formArrayName'">
                    <div *ngFor="let x of investment.acoes; let i = index">
                        <div class="container-value-to-redeem-table-content-row" [formGroupName]="i">
                            <span class="container-value-to-redeem-table-content-row-column">
                                {{ x.nome }}
                            </span>
                            <span class="container-value-to-redeem-table-content-row-column">
                                {{ formatMoney(investment.saldoTotal * (x.percentual / 100)) }}
                            </span>
                            <div class="container-value-to-redeem-table-content-row-input">
                                <mat-form-field appearance="outline" class="container-value-to-redeem-table-content-row-input-field">
                                    <mat-label>Digite quanto quer resgatar</mat-label>
                                    <input 
                                        formControlName="valueToRedeem"
                                        matInput
                                        currencyMask
                                        [options]="{
                                          align: 'left',
                                          prefix: 'R$ ',
                                          thousands: '.',
                                          decimal: ','
                                        }">
                                </mat-form-field>
                                <span class="container-value-to-redeem-table-content-row-input-erro" *ngIf="mostrar(i)">
                                    O valor a resgatar nao pode ser maior que {{ formatMoney(investment.saldoTotal * (x.percentual / 100)) }}
                                </span>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="container-value-to-redeem-amount">
            <span>Valor total do resgate: </span>
            <span>{{ formatMoney(getSomaTotal()) }}</span>
        </div>
    </div>
    
    <div class="container-buttons">
        <button  
            mat-flat-button 
            type="button"
            (click)="goToInvestmentList()">
            CANCELAR
        </button>
        <button 
            mat-flat-button 
            color="primary" 
            type="button" 
            (click)="openModal()"
            [disabled]="!hasValue">
            CONFIRMAR RESGATE
        </button>
    </div>
</div>
