.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-investment-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: white;
            padding: 1rem;
            border: 1px solid;
        }
    }

    &-value-to-redeem {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-table {
            background-color: white;
            border: 1px solid;

            &-header {
                display: grid;
                grid-template-columns: .5fr .5fr 1fr;
                padding: 1rem 0;

                span {
                    padding: 0 1rem;
                }
            }

            &-content-row {
                display: grid;
                grid-template-columns: .5fr .5fr 1fr;
                padding: 1rem 0;

                span {
                    padding: 0 1rem; 
                    align-self: center;
                }

                &-input {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                    padding: 0 1rem; 
                    align-self: center;

                    &-erro {
                        color: red;
                    }

                    &-teste {
                        max-width: 250px;
                        margin-bottom: -1.25em;
                    }
                }
            }
        }

        &-amount {
            display: flex;
            gap: 0.5rem;
            padding: 1rem;
            border: 1px solid;
            background-color: white;

        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 0.5rem;
    }
}
