.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-form {
      background-color: #FFFFFF;
      border: 2px solid #C6C9CA;
      border-radius: 8px;
      padding: 1rem;

      &-error-message {
        margin-top: .5rem;
        color: #F91516;
        font-weight: 500;
      }

      table {
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        text-align-last: start;

        thead tr th {
          padding-bottom: .5rem;
          text-transform: uppercase;
        }

        tbody tr td {
          border-top: 2px solid #F1F4F5;
          padding: 1rem 0;
          color: #2F3E44;
          font-weight: 500;

          input {
            width: 60%;
            padding: 0.3rem 0.7rem;
            border: 2px solid #C6C9CA;
            border-radius: 4px;
          }
        }
      }
    }
  }

  &-result {
    background-color: #FFFFFF;
    border: 2px solid #C6C9CA;
    border-radius: 8px;
    padding: 1rem;

    span {
      color: #253238;
      font-weight: bold;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
  }
}
