<div class="container">

  <div class="container-header">
    <app-title
      text="DADOS DO INVESTIMENTO">
    </app-title>

    <app-information-card
      [items]="dataCard">
    </app-information-card>
  </div>

  <div class="container-content">
    <app-title
      text="RESGATE">
    </app-title>

    <form
      [formGroup]="tableForm"
      class="container-content-form">
      <table>

        <thead>
          <tr>
            <th>Ação</th>
            <th>Saldo Acumulado</th>
            <th>Valor a resgatar</th>
          </tr>
        </thead>

        <tbody>
          <ng-container formArrayName="investments">
            <ng-container *ngFor="let data of investments.controls; index as i;">
              <tr [formGroupName]="i">
                <td> {{ data.value['action'] }} </td>
                <td>
                  {{ formatMoney(data.value['accumulatedBalance']) }}
                </td>
                <td>
                  <input
                    formControlName="valueToRedeem"
                    placeholder="Digite quanto quer resgatar"
                    currencyMask
                    [options]="{
                      align: 'left',
                      prefix: 'R$ ',
                      thousands: '.',
                      decimal: ','
                    }"
                  />
                  <div
                    *ngIf="showErro(data.value['id'])"
                    class="container-content-form-error-message">
                    O valor a resgatar nao pode ser maior que {{ formatMoney(data.value['accumulatedBalance']) }}
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>

      </table>
    </form>
  </div>

  <div class="container-result">
    <span>Valor total do resgate: </span>
    {{ formatMoney(totalValue) }}
  </div>

  <div class="container-bottom">
    <app-flat-button
      lable="Cancelar"
      color="basic"
      (onClick)="goToInvestmentList()">
    </app-flat-button>

    <app-flat-button
      lable="Confirmar Resgate"
      color="primary"
      (onClick)="openModal()">
    </app-flat-button>
  </div>

</div>
